* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto", sans-serif;
  --primary-bg-color: #212121;
  --secondary-bg-color: #424242;
  --primary-txt-color: #eeeeee;
  --secondary-txt-color: #bdbdbd;
  --primary-border-color: #616161;
  --border: 1px solid var(--primary-border-color);
  --btn-txt-color: #424242;
  --btn-bg-color: #bdbdbd;
  --btn-bg-color-hover: #757575;

  --blue: #42a5f5;
  --blue-hover: #2196f3;
  --red: #ef5350;
  --red-hover: #f44336;
  --green: #4caf50;
  --green-hover: #43a047;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg-color);
  color: var(--primary-txt-color);
  font-family: var(--font-roboto);
}

main {
  flex-grow: 1;
}

a {
  cursor: pointer;
  color: var(--primary-txt-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--secondary-txt-color);
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  padding: 1rem;
  border-bottom: var(--border);
}

.main-nav {
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
  max-width: 1000px;
}

.logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--primary-txt-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.logo-link img.icon {
  transform: translateY(-2px);
}

/* FOOTER */
footer {
  border-top: var(--border);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--primary-txt-color);
  text-decoration: none;
}

footer .footer-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--primary-txt-color);
}

footer .footer-link img.icon {
  transform: translateY(-2px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.btn {
  display: flex;
  align-items: center;
  gap: 6px;
  text-align: center;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 1rem;
  font-family: var(--font-roboto);
  color: var(--btn-txt-color);
  background-color: var(--btn-bg-color);
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--primary-bg-color);
}

a.btn,
a.btn:hover,
a.btn.active {
  text-decoration: none;
}

a.btn.active {
  cursor: not-allowed;
}

.btn:hover,
.btn.active {
  background-color: var(--btn-bg-color-hover);
  color: var(--primary-bg-color);
}

.btn.blue {
  background-color: var(--blue);
  color: var(--primary-txt-color);
}

.btn.blue:hover {
  background-color: var(--blue-hover);
}

.btn.green {
  background-color: var(--green);
  color: var(--primary-txt-color);
}

.btn.green:hover {
  background-color: var(--green-hover);
}

.btn.red {
  background-color: var(--red);
  color: var(--primary-txt-color);
}

.btn.red:hover {
  background-color: var(--red-hover);
}

.icon {
  height: 1.4rem;
  filter: invert(100%) sepia(2%) saturate(2395%) hue-rotate(177deg)
    brightness(117%) contrast(87%);
}

.icon.red {
  filter: invert(45%) sepia(29%) saturate(1468%) hue-rotate(315deg)
    brightness(96%) contrast(96%);
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden;
}

.flex-spacer {
  flex-grow: 1;
}

.center-content {
  margin-top: 25%;
  text-align: center;
}

.center-content img.icon {
  height: 5rem;
}

.center-content h1 {
  margin-top: 0.5rem;
  font-size: clamp(1.5rem, 4vw, 5rem);
}

.center-content p {
  margin: 1rem 0rem 2rem;
  font-size: 1.3rem;
  color: var(--secondary-txt-color);
}

.center-content .btns-container {
  /* display: flex; */
  justify-content: center;
  /* gap: 1rem; */
}

/* ALERTS */
.alert {
  margin: 1rem auto;
  width: 600px;
  min-width: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: var(--border);
  border-radius: 2rem;
}

.alert.red {
  border-color: var(--red);
  color: var(--red);
}

.alert.green {
  text-align: center;
  border-color: var(--green);
  color: var(--green);
}

.alert-errors-list {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Account Forms */
.form-container {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account-form {
  max-width: 600px;
  min-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border-radius: 2rem;
  border: var(--border);
}

.account-form .form-divider {
  padding-bottom: 1rem;
  border-bottom: var(--border);
}

.account-form h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.account-form label,
.new-folder-form label {
  margin: 1rem 0rem 0.25rem 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  position: relative;
}

.account-form label span {
  position: absolute;
  top: -4px;
  left: -8px;
  color: var(--red);
}

.account-form input,
.new-folder-form input {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: var(--font-roboto);
  color: var(--primary-txt-color);
  background-color: var(--secondary-bg-color);
  padding: 1rem 1.5rem;
  border: 1px solid var(--secondary-bg-color);
  border-radius: 2rem;
}

.account-form input:focus,
.new-folder-form input:focus {
  border-color: var(--blue-hover);
}

.account-form .btn {
  margin: 1rem 0rem;
  align-self: center;
}

.account-form .form-other {
  text-align: center;
  color: var(--secondary-txt-color);
}

.account-form .form-other a {
  color: var(--secondary-txt-color);
}

.account-form .form-other a:hover {
  color: var(--primary-txt-color);
}

.hero {
  padding: 3rem 3rem 2rem;
  text-align: center;
}

.hero h2 {
  font-size: 2rem;
}

.hero p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary-txt-color);
}

.searchbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--secondary-bg-color);
  padding: 0.5rem;
  border-radius: 2rem;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--secondary-bg-color);
}

.searchbar button {
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.searchbar button img.icon {
  transform: translateY(2px);
}

.searchbar button:hover {
  background-color: var(--primary-border-color);
}

.searchbar input {
  flex-grow: 1;
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: var(--font-roboto);
  color: var(--primary-txt-color);
}

.searchbar:has(input:focus) {
  border-color: var(--blue-hover);
}

.btns-nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border);
}

.btns-container {
  display: flex;
  gap: 0.5rem;
}

.table-heading {
  padding: 0.5rem 1rem;
  border-bottom: var(--border);
}

.table-heading h2 {
  font-size: 1.4rem;
}

/* UPLOAD FORM */
.upload-form {
  margin: 1rem 0rem;
  min-height: 200px;
  width: 100%;
  position: relative;
}

.upload-form.hidden {
  display: none;
}

.upload-form label {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px dashed var(--blue);
  border-radius: 2rem;
  cursor: pointer;
  z-index: 3;
  color: var(--blue);
}

.upload-form label img.icon {
  height: 5rem;
  filter: invert(52%) sepia(81%) saturate(859%) hue-rotate(181deg)
    brightness(98%) contrast(96%);
}

.upload-form label.green img.icon {
  filter: invert(58%) sepia(11%) saturate(2208%) hue-rotate(72deg)
    brightness(98%) contrast(90%);
}

.upload-form label h2 {
  margin-top: 0.5rem;
  font-weight: 600;
}

.upload-form label button {
  margin-top: 1rem;
}

.upload-form label button.hidden {
  display: none;
}

.upload-form .btns-container {
  display: flex;
}

.upload-form label.green {
  color: var(--green);
  border-color: var(--green);
}

.upload-form label:not(.green):hover {
  border-color: var(--blue-hover);
}

.upload-form label:not(.green):hover span {
  color: var(--blue-hover);
}

.new-folder-form-container {
  margin: 1rem 0rem;
  min-height: 200px;
  width: 100%;
  border: var(--border);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
}

.new-folder-form {
  min-width: 600px;
  width: 100%a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.new-folder-form img.icon {
  height: 5rem;
}

.new-folder-form h2 {
  margin-top: 0.5rem;
  text-align: center;
}

.new-folder-form .input-wrapper {
  display: flex;
  flex-direction: column;
}

.new-folder-form .btns-container {
  margin-top: 1rem;
  align-self: center;
}

.contents-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 3rem;
}

.contents-table tr {
  border-bottom: var(--border);
  position: relative;
}

.contents-table tr:hover td {
  background-color: var(--secondary-bg-color);
}

.contents-table th {
  padding: 0.5rem 1rem;
  text-align: start;
}

.contents-table td {
  padding: 1rem;
  text-align: start;
}

.contents-table td .table-row-link {
  position: absolute;
  inset: 0;
}

.contents-table td .table-folder-link {
  top: 0;
  transform: translateY(100%);
  position: absolute;
  z-index: 3;
}

/* SINGLE FILE PAGE */
.single-file-row {
  display: flex;
}

.single-file-col {
  padding: 2rem;
}

.single-file-col:first-child {
  width: 30%;
}

.single-file-col:last-child {
  width: 70%;
}

.single-file-col h1 {
  margin-top: 2rem;
  font-size: 2.5rem;
}

.single-file-icon-wrapper {
  min-height: 300px;
  min-width: 300px;
  padding: 1rem;
}

.single-file-icon-wrapper img.icon {
  height: 100%;
  width: 100%;
}

.single-file-col .btns-container {
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
}

.single-file-info {
  display: block;
}

.single-file-info.hidden {
  display: none;
}

.single-file-info-list {
  margin-top: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label,
label {
  font-weight: 600;
}

/* EDIT FILE FORM */

.edit-file-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.edit-file-form.hidden {
  display: none;
}

.edit-file-form h2 {
  /* font-size: 2rem; */
  padding-bottom: 0.5rem;
  border-bottom: var(--border);
}

.edit-file-form input#fileName {
  margin: 0.5 0rem 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  background-color: var(--primary-bg-color);
  color: var(--primary-txt-color);
  font-family: var(--font-roboto);
  border: 1px solid var(--primary-bg-color);
  outline: none;
}
.edit-file-form input#fileName:focus {
  border-color: var(--blue-hover);
}

.edit-file-form select,
.edit-file-form ::picker(select) {
  appearance: base-select;
}

.edit-file-form select {
  /* border: var(--border); */
  font-family: var(--font-roboto);
  color: var(--primary-txt-color);
  background-color: var(--secondary-bg-color);
  padding: 1rem 1.5rem;
  border: 1px solid var(--secondary-bg-color);
  border-radius: 2rem;
  transition: rotate 0.4s;
  cursor: pointer;
}

.edit-file-form ::picker(select) {
  border: none;
  background: none;
}

.edit-file-form select:hover,
.edit-file-form select:focus {
  border: var(--border);
}
.edit-file-form select:focus {
  /* border-color: var(--blue-hover); */
}

.edit-file-form select::picker-icon {
  color: #999;
  transition: 0.3s rotate ease-out;
}

.edit-file-form select:open::picker-icon {
  rotate: 180deg;
}

.edit-file-form select option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;

  /* border: 2px solid #ddd; */
  border: var(--border);
  background: var(--primary-bg-color);
  color: var(--primary-txt-color);
  padding: 1rem 1.5rem;
  /* transition: 0.4s; */
  /* cursor: pointer; */
}

.edit-file-form select option:first-of-type {
  border-radius: 2rem 2rem 0rem 0rem;
}
.edit-file-form select option:last-of-type {
  border-radius: 0rem 0rem 2rem 2rem;
}
.edit-file-form select option:not(option:last-of-type) {
  border-bottom: none;
}
.edit-file-form select option:hover {
  background-color: var(--secondary-bg-color);
}
.edit-file-form select option:checked {
  font-weight: 600;
  background-color: var(--secondary-bg-color);
}
.edit-file-form select option::checkmark {
  order: 1;
  margin-left: auto;
  content: url("/icons/check.svg");
  height: 1.4rem;
  filter: invert(100%) sepia(2%) saturate(2395%) hue-rotate(177deg)
    brightness(117%) contrast(87%);
}

.edit-file-form .btns-container {
  margin: 1rem 0rem;
  display: flex;
  justify-content: flex-end;
}
