<%- include('./partials/header.ejs')%>
    <main>
        <div class="container">
            <div class="center-content">
                <img src="/icons/slash.svg" alt="upload icon" class="icon red">
                <h1>Forbidden</h1>
                <p>You don't have access to view this resource. Please return to your files.</p>
                <div class="btns-container">
                    <a href="/files" class="btn blue">Your Files</a>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs')%>