<%- include('./partials/header.ejs')%>
    <main>
        <div class="container">
            <div class="center-content">
                <h1>404: Not Found</h1>
                <p>This page cannot be found. Please return to your files.</p>
                <div class="btns-container">
                    <a href="/files" class="btn blue">Your Files</a>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs')%>