<%- include('./partials/header.ejs')%>
    <main>
        Folder creation page
        <form action="/folders/create" method="POST">
            <input type="text" name="name" placeholder="Enter folder name">
            <button type="submit">Submit</button>
        </form>
    </main>
    <%- include('./partials/footer.ejs')%>