<%- include('./partials/header.ejs')%>
    <main>
        <div class="container">
            <div class="center-content">
                <img src="/icons/upload.svg" alt="upload icon" class="icon">
                <h1>File Uploader</h1>
                <p>One place for all your files</p>
                <div class="btns-container">
                    <a href="/sign-up" class="btn blue">Sign Up</a>
                    <a href="/login" class="btn">Login</a>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs')%>