<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>
        <%= locals.title %> | File Uploader
    </title>
</head>

<body>
    <%- include('./partials/header.ejs')%>
        <main>
            Links:
            <a href="/files">Files</a>
            <a href="/folders">Folders</a>
            <a href="/logout">Logout</a>
        </main>
        <%- include('./partials/footer.ejs')%>
</body>

</html>