<%- include('./partials/header.ejs')%>
    <main>
        <form action="/files/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="uploaded_file">
            <button type="submit">Upload</button>
        </form>
    </main>
    <%- include('./partials/footer.ejs')%>