<% if (successFlashMsg) { %>
    <div class="alert green">
        <p>
            <%= successFlashMsg %>
        </p>
    </div>
<% } %>
<% if (errorFlashMsg) { %>
    <div class="alert red">
        <p>
            <%= errorFlashMsg %>
        </p>
    </div>
<% } %>
<% if (errors && errors.length > 0) {%>
    <div class="alert red">
        <h4>Please correct the following errors:</h4>
        <ul class="alert-errors-list">
        <% errors.map((error)=> { %>
            <li>
                <%= error.msg %>
            </li>
        <% }); %>
        </ul>
    </div>
<% } %>