<nav class="contents-nav">
    <a href="/files" class="nav-link <%= currentPath === '/files' ? 'active' : '' %>">Files</a>
    <a href="/folders" class="nav-link <%= currentPath === '/folders' ? 'active' : '' %>">Folders</a>
    <div class="flex-spacer"></div>
    <button id="add-folder-btn" class="btn blue"><img src="icons/folder-plus.svg" alt="add folder icon"
            class="icon">Create Folder</button>
    <button id="add-file-btn" class="btn blue"><img src="icons/file-plus.svg" alt="add file icon" class="icon">Upload
        File</button>
</nav>