<header>
    <nav class="main-nav">
        <a href="/" class="logo-link"><img src="icons/upload.svg" alt="upload icon" class="icon"> File Uploader</a>
        <% if (currentUser) { %>
            <a href="/logout" class="nav-link blue">Logout <img src="icons/log-out.svg" alt="logout icon"
                    class="icon"></a>
            <% } else { %>
                <a href="/login" class="nav-link blue">Login <img src="icons/log-in.svg" alt="login icon"
                        class="icon"></a>
                <% } %>
    </nav>
</header>