<header>
    <nav class="main-nav">
        <a href="/" class="nav-link">File Uploader</a>
        <% if (currentUser) { %>
        <a href="/logout" class="nav-link">Logout</a>
        <% } %>
    </nav>
</header>