<div class="sidebar">
    <ul class="sidebar-link-list">
        <li class="sidebar-link-list-item">
            <a href="/" class="sidebar-link">Home</a>
        </li>
        <li class="sidebar-link-list-item">
            <a href="/new-message" class="sidebar-link blue">New Message</a>
        </li>
        <div class="spacer"></div>
        <li class="sidebar-link-list-item">
            <a href="/logout" class="sidebar-link">Logout</a>
        </li>
    </ul>
</div>